[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SyncER"]
	path = SyncER
	url = https://github.com/katleenwils/syncer
[submodule "SyncERdata"]
	path = SyncERdata
	url = https://github.com/katleenwils/syncerdata
